html{
  scroll-behavior: smooth;
}
header {
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.menu {
  margin: 1rem;
}
.menu__list {
  margin: 1rem;
  list-style-type: none;
  padding: 0px;
}
.list__item {
  display: inline-block;
}
.list__item a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  color: #0c0e1b;
  font-style: italic;
  font-weight: 300;
}
.logo img {
  margin: 1rem;
  width: 17rem;
  height: 6rem;
}

/* aqui elementos de la seccion "intro" */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 4rem;
}
.intro .titulo {
  position: relative;
  z-index: 1;
}
.intro h1 {
  font-size: 3.5rem;
  line-height: normal;
}
.intro p {
  color: #000516;
  text-align: center;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  font-size: 1.32rem;
  width: 500px;
  margin: 0px auto;
}
/* cuadrados animdos  del inicio inician aqui */
.cuadrado__solido-uno {
  background-color: #9d262e;
  position: absolute;
  top: 9rem;
  left: 60%;
  transition: all 1s linear;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
}
.cuadrado__solido-uno:hover {
  transform: scale(0.8);
  border-radius: 0%;
}
.cuadrado__solido-dos {
  background-color: #9d262e;
  position: absolute;
  top: 16rem;
  left: 25%;
  border-radius: 50%;
  transition: all 1s linear;
  width: 9rem;
  height: 9rem;
}
.cuadrado__solido-dos:hover {
  border-radius: 0%;
  transform: scale(0.8);
}
/*Cudrados mobiles*/

.cuadrado__borde-uno {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 15rem;
  left: 5rem;
  border-radius: 50%;
  border: solid 3px #9d262e50;
  /* Agraga nombre a la propiedad para usar el kyeFrame */
  animation: mover 15s infinite alternate ease-in-out;
}
.cuadrado__borde-cuatro {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 18rem;
  left: 6rem;
  border-radius: 50%;
  border: solid 3px #9d262e50;
  /* Agraga nombre a la propiedad para usar el kyeFrame */
  animation: mover 6s infinite alternate ease-in-out;
}

.cuadrado__borde-dos {
  width: 5rem;
  height: 5rem;
  border: solid 3px #9d262e50;
  position: absolute;
  top: 24rem;
  left: 90%;
  border-radius: 50%;
  animation: mover 10s infinite alternate-reverse ease-in-out;
}
.cuadrado__borde-tres {
  width: 5rem;
  height: 5rem;
  border: solid 3px #9d262e50;
  position: absolute;
  top: 26rem;
  left: 88%;
  border-radius: 50%;
  animation: mover 5s infinite alternate-reverse ease-in-out;
}

#intro-btn-contact {
  width: 10rem;
  border: none;
  padding: auto;
  height: 44px;
  background-color: #9d262e50;
  border-radius: 7px;
  /* padding: 2rem; */
  margin-top: 8rem;
}

/* seccion de Works */

#works {
  padding: 0rem 6rem;
  background: linear-gradient(
    180deg,
    rgba(157, 38, 45, 0.08) 5.1%,
    rgba(157, 38, 45, 0) 65.67%
  );
}

.puntero-titulo {
  width: 50px;
  height: 50px;
  transform: rotate(-41.25deg);
  transform-origin: 0 0;
  background: #9d262d;
}
.puntero-titulo h4 {
  text-align: center;
  font-family: Jost;
  font-size: 1.79688rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: strikethrough;
  transform: rotate(44deg);
  transform-origin: 0 0;
}
.works-container{
  
  display: flex;
  flex-direction: column;
 
}
.work_box {
  background-color:black;
  width: 250px;
  height: 250px;
  
}
.box-one{
  box-shadow: 9px 1px 20px -12px rgba(0,0,0,0.73);
  background-image: url(/assets/imagen-encriptador-progect.png);
  background-size: cover;
  transition: all 1s linear; 
  overflow: hidden;
  position: relative;
  left: 36%;
  top: 5rem;
  animation: rotar 10s infinite alternate-reverse ease-in-out;
}
.box-one:hover{
  scale: 1.2;
  animation: none;
}
.info{
  color: whitesmoke;
  width: 100%;
  height: 100%;
  background-color:rgba(31 , 31, 31, 0.9);
  opacity: 0;
  transition: 0.3s;
}
.info-titulo{
  transition: 1s;
  margin-left: -80px;
}
.box-one:hover .info-titulo{
  margin-left: 80px;
}
.box-one:hover .info{
  opacity: 1;
}


.box-two{
  transition: all 1s linear; 
  position: relative;
    left: 73%;
    top: 2rem;
    animation: rotar 15s infinite alternate-reverse ease-in-out;
}
.box-three{
  transition: all 1s linear; 
  position: relative;
    left: 35%;
    animation: rotar 20s infinite alternate-reverse ease-in-out;
}
.box-four{
  transition: all 1s linear; 
  position: relative;
    top: -25.7rem;
    left: 0%;
    animation: rotar 25s infinite alternate-reverse ease-in-out;
}
